body {
  margin: 0;
  padding: 0;
  font-family: "lora-regular", serif;
  background-color: #eee;
}

body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  padding: .5rem;
  border: 1px solid black;
  color: #63028F;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

a:hover {
  -webkit-transition: .1s;
  transition: .1s;
}

.navbar-container {
  background-color: rgba(0, 0, 0, 0.603);
  padding: 1rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  font-family: "poppins-medium", sans-serif;
  color: #eee;
}

.navbar__logo--img {
  width: 8.5rem;
}

.navbar__toggle {
  display: none;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.navbar__list--item {
  color: #eee;
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar__list--item:hover {
  color: #fcfc17;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__toggle {
    display: initial;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    top: 17px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .navbar__toggle:hover {
    color: #fcfc17;
  }
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 15rem;
  }
  .navbar__list--hide {
    display: none;
  }
}

#home {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.67)), color-stop(transparent), to(rgba(0, 0, 0, 0.67))), url("../../images/galaxy2-min.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.67), transparent, rgba(0, 0, 0, 0.67)), url("../../images/galaxy2-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__my-info--greeting {
  margin: 0;
  font-family: "poppins-bold", sans-serif;
  color: #fcfc17;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 1.565;
  text-shadow: 0 0 6px #00000033;
}

.home__my-info--name {
  margin-top: 0;
  margin-bottom: .6rem;
  font-family: "poppins-medium", sans-serif;
  color: #eee;
  font-size: 5.5rem;
  line-height: 1.071;
  text-shadow: 0 0 20px #00000080;
}

.home__my-info--job {
  color: #eee;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 2.4rem;
  text-shadow: 0 0 6px #00000033;
}

.home__my-info--job1 {
  margin-right: 1rem;
}

.home__my-info--job1::after {
  content: "";
  display: table-cell;
  position: relative;
  top: -6px;
  left: 10.5px;
  padding: 10px 1px;
  background-color: #050505;
}

.btn__home {
  margin-top: .6rem;
  padding: 1.5rem 2rem;
  border: .25rem solid #1a1a1a;
  height: 6rem;
  font-family: "poppins-bold", sans-serif;
  color: #eee;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.20rem;
  line-height: 5.4rem;
}

.btn__home:hover {
  border-color: #dddd03;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: 10rem;
  min-height: 30rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}

.home__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "lora-regular", serif;
  font-size: 2rem;
}

.home__social--item {
  margin: 0 20px;
  color: #eee;
}

.home__social--item:hover {
  color: #fcfc17;
}

@media (max-width: 768px) {
  .home__my-info--greeting {
    font-size: 2.4rem;
  }
  .home__my-info--name {
    font-size: 4.5rem;
  }
  .home__my-info--job {
    font-size: 1rem;
  }
  .btn__home {
    font-size: 1rem;
  }
  .home__social--item {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .home__my-info--greeting {
    font-size: 1.4rem;
  }
  .home__my-info--name {
    font-size: 3.5rem;
  }
  .home__my-info--job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
  }
  .home__my-info--job1::after {
    display: none;
  }
  .home-container {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5rem;
    height: 30rem;
    text-align: center;
  }
  .btn__home {
    font-size: .8rem;
  }
  .home__social {
    margin-bottom: 1rem;
  }
  .home__social--item {
    font-size: 1.7rem;
  }
}

#about {
  min-height: 70vh;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-title {
  margin: 0;
  margin-left: 5rem;
  padding: 1.5rem;
  font-family: "poppins-medium", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #313131;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 930px;
}

.about-content__div {
  border-radius: 5%;
}

.about-content__div--img {
  width: 20rem;
  border-radius: 5%;
  -webkit-box-shadow: -3px 3px 5px 5px #0000006b;
          box-shadow: -3px 3px 5px 5px #0000006b;
  -webkit-transition: .1s;
  transition: .1s;
}

.about-content__info {
  max-width: 500px;
}

.about-content__info--text {
  font-family: "poppins-regular", sans-serif;
  line-height: 1.3;
  font-size: 1.03rem;
}

.about-content__info--btns {
  padding-top: 1rem;
}

.btn__about {
  padding: .7rem;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.btn__about:hover {
  background-color: #2b2b2b;
  color: #eee;
}

@media (max-width: 768px) {
  .about-title {
    margin: 0;
  }
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content__div--img {
    position: inherit;
  }
  .about-content__info {
    text-align: center;
  }
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  min-height: 60vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.356)), to(rgba(0, 0, 0, 0.356))), url("../../images/niketh-vellanki-252581-unsplash.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.356)), url("../../images/niketh-vellanki-252581-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
}

.skills-title {
  margin: 2rem 0;
  padding: 1.5rem;
  font-family: "poppins-medium", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-shadow: 4px 0px 2px #313131;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 930px;
}

.skills__list {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.skills__list--header {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "poppins-medium", sans-serif;
}

.skills__list--header::after {
  content: "";
  display: table;
  padding: 1px 24px;
  background-color: #fcfc17;
}

.skills__list--item {
  font-family: "poppins-regular", sans-serif;
  font-size: 1rem;
  text-indent: .6rem;
  line-height: 1.5rem;
}

.skills__list--item::before {
  content: "";
  display: inline-table;
  position: relative;
  top: -7px;
  left: -8px;
  margin-right: .6rem;
  padding: 1px 10px;
  background-color: #fcfc17;
}

@media (max-width: 768px) {
  .skills-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15%;
    text-align: left;
  }
  .skills__list {
    margin-bottom: 2rem;
  }
}

.projects-title {
  margin: 2rem 0;
  padding: 1.5rem;
  font-family: "poppins-medium", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-shadow: 4px 0px 2px #313131;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.project {
  margin: .5rem;
  border: 0.2rem solid #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 35rem;
  margin: .5rem;
  padding: 1rem;
  -webkit-box-shadow: 3px 2px 3px 1px #0000006b;
          box-shadow: 3px 2px 3px 1px #0000006b;
}

.project__img--item {
  width: 15rem;
  margin-right: 1.5rem;
}

.project__info {
  width: 20rem;
}

.btn__project:visited {
  color: #1d012a;
}

.btn__project:hover {
  background-color: #2b2b2b;
  color: #eee;
}

@media (max-width: 640px) {
  .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 5rem;
  }
  .project__img--item {
    margin: 0;
  }
  .project__info {
    width: auto;
  }
}

#contact {
  min-height: 70vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.67)), color-stop(rgba(0, 0, 0, 0.329)), to(rgba(0, 0, 0, 0.67))), url("../../images/nicolas-thomas-547522-unsplash.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.67)), url("../../images/nicolas-thomas-547522-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-title {
  margin: 0;
  margin-left: 5rem;
  padding: 1.5rem;
  font-family: "poppins-medium", sans-serif;
  color: #eee;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #fcfc17;
}

.contact__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__input--item {
  border: none;
  border-bottom: 0.15rem solid #d5d5d5;
  margin: 1rem;
  width: 45rem;
  height: 4rem;
  font-family: "poppins-regular", sans-serif;
  color: #eee;
  font-size: 1.1rem;
  background-color: transparent;
}

.contact__input--item:hover {
  border-color: #fcfc17;
}

.contact__input--item:focus {
  border-color: #fcfc17;
  outline: none;
}

.btn__contact {
  border: 0.15rem solid #d5d5d5;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #eee;
}

.btn__contact:hover {
  border-color: #fcfc17;
  background-color: rgba(0, 0, 0, 0.527);
}
/*# sourceMappingURL=main.css.map */