// =============== Colors ===============
$off-white: #eee;
$off-black: #1e1e1e;
$gray: #313131;
$link: #63028F;
$main-color: #fcfc17;

// Using SCSS variables to store breakpoints
$breakpoint-tablet: 768px;
$breakpoint-moble: 640px;