#home {
    min-height:100vh;
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.67), transparent, rgba(0, 0, 0, 0.67)),
    url("../../images/galaxy2-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }